{
  "extends": "semistandard",
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "space-before-function-paren": 0,
    "no-control-regex": 0,
    "no-prototype-builtins": 0,
    "comma-dangle": 0
  }
}
